asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.4
cssselect2==0.9.0
Django==6.0.2
django-classy-tags==4.1.0
django-cms==5.0.6
django-entangled==0.7
django-filer==3.4.4
django-formtools==2.5.1
django-fsm-2==4.1.0
django-parler==2.3
django-polymorphic==4.11.1
django-sekizai==4.1.0
django-treebeard==5.0.5
djangocms-admin-style==3.3.1
djangocms-alias==3.0.3
djangocms-attributes-field==4.1.2
djangocms-frontend==2.3.0
djangocms-link==5.1.1
djangocms-simple-admin-style==2.0.1
djangocms-text==0.9.3
djangocms-versioning==2.5.1
easy-thumbnails==2.10.1
idna==3.11
lxml==6.0.2
nh3==0.3.3
node==2.0.0
npm==0.1.1
odict==2.0.0
optional-django==0.1.0
packaging==26.0
pillow==12.1.1
plumber==2.0.0
pycountry==26.2.16
reportlab==4.4.10
requests==2.32.5
setuptools==82.0.0
sqlparse==0.5.5
svglib==1.5.1
tinycss2==1.5.1
typing_extensions==4.15.0
urllib3==2.6.3
webencodings==0.5.1
zope.component==7.1
zope.deferredimport==6.1.1
zope.deprecation==6.0
zope.event==6.1
zope.hookable==8.2
zope.interface==8.2
zope.lifecycleevent==6.0
zope.proxy==7.1
